<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>commentbox-simple-demo</display-name>
 <filter>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  <async-supported>true</async-supported>
 </filter>
 <filter-mapping>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>FORWARD</dispatcher>
 </filter-mapping>
 <servlet>
  <servlet-name>Push Servlet</servlet-name>
  <servlet-class>org.primefaces.push.PushServlet</servlet-class>
  <init-param>
   <param-name>org.atmosphere.useWebSocket</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>org.atmosphere.cpr.sessionSupport</param-name>
   <param-value>true</param-value>
  </init-param>
  <init-param>
   <param-name>org.atmosphere.useNative</param-name>
   <param-value>true</param-value>
  </init-param>
  <init-param>
   <param-name>org.atmosphere.resumeOnBroadcast</param-name>
   <param-value>true</param-value>
  </init-param>
  <async-supported>true</async-supported>
 </servlet>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  <async-supported>true</async-supported>
 </servlet>
 <servlet-mapping>
  <servlet-name>Push Servlet</servlet-name>
  <url-pattern>/primepush/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>/faces/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>faces/index.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
